
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}

.header {
    width: 100%;
    background: orange;
    color: black;
    text-align: center;
    padding: 1rem 0;
    font-size: 1.5rem;

    cursor: pointer;}

.menu {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 10;
}

.menu-list {
    display: none;
    position: absolute;
    top: 3rem;
    left: 1rem;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    list-style: none;
    padding: 0;
}

.menu-list li {
    padding: 0.5rem 1rem;
}

.menu-list li:hover {
    background: #f0f0f0;
}

table{
    border-collapse: collapse;
    width: 60%;
}

td{
    border: none;
    padding: 20px;
    width: auto;
    height: auto;
    word-wrap: break-word;
}

th{
    text-align: left;
}

h1{
    margin-left: 30px   ;
    text-align: left  ;
    margin-bottom: 0px;
}


#Veranstaltung{
    margin-left: 50px;
    margin-bottom: 10px;
}

#Veranstaltungen{
    table-layout: fixed;
    margin-left: 50px;
    margin-bottom: 10px;
	margin-top:50px;
}

#Veranstaltung_live{
    margin-left: 50px;
    margin-bottom: 10px;
    table-layout: fixed;

}

#live{
border: 1px solid black;

}

#dead{
border: 1px solid black;


}
#Veranstaltung_dead{
    margin-left: 50px;
    margin-bottom: 10px;
    table-layout: fixed;
    

}

#Schichtverwaltung{
    height: 50px;
    width: fit-content;
    background-color: orange;
    color: white;
    border: none;
    margin: 0 auto;  
    margin-top: 15px;
    border-radius: 5px;
    margin-left: 150px;
    margin-bottom: 50px;
}

#Schichtverwaltung:hover{
    background-color: darkorange;
}

#login{
    height: 50px;
    width: 150px;
    background-color: orange;
    color: white;
    border: none;
    margin: 0 auto;  
    margin-top: 15px;
    border-radius: 5px;
}

#login:hover{
   background-color: darkorange;
}
button:hover{

cursor: pointer;
}
.btn-orange {
    background-color: orange;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

.btn-orange:hover {
    background-color: darkorange;
}

#anmeldung{
    text-align: center;
    align-items: center;
}

#Formular {
    display: flex;              /* Flexbox aktivieren */
    flex-direction: column;     /* Eingabefelder untereinander */
    align-items: center;        /* Inhalte innerhalb des Containers zentrieren */
    margin: 0 auto;             /* Horizontal zentrieren */
    width: fit-content;         /* Breite an den Inhalt anpassen */
    margin-top: 10px;
}

#Formular input {
    margin: 10px 0;             /* Abstand zwischen den Feldern */
    padding: 10px;              /* Innenabstand für bessere Lesbarkeit */
    width: 250px;               /* Breite der Eingabefelder */
}

.content {
    padding: 20px;
    overflow-y: auto;
    max-height: calc(100vh - 100px); /* passt sich an die Bildschirmhöhe an */
}

.day {
    margin-bottom: 40px;
}

.service {
    margin-left: 30px;
    margin-bottom: 20px;
}

.task {
    margin-left: 50px;
    margin-bottom: 10px;
}

.worker {
    margin-left: 10px;
}

.line {
    border-bottom: 1px solid #aaa;
    margin: 10px 0;
}

.Name_der_veranstaltung{
	display: 		flex;       /* Flexbox aktivieren */
    width: 			fit-content;/* Breite an den Inhalt anpassen */
    margin-top: 	50px;
	margin-left:	150px;
	margin-bottom:	50px;
	font-size: 		20px;
}
.Anzeige_der_veranstaltung{
	margin-left:	150px;
	font-size: 		18px;
}
.Eintragen_erlauben{
	margin-left:	150px;
	font-size: 		18px;
	margin-bottom: 50px;
}

#eventName{
	height: auto;
    width: auto;
    margin: 0 auto;
	margin-left: 5px;
}

#showEvent{
	height: 18px;
    width: 18px;
}

#registerOnEvent{
	height: 18px;
    width: 18px;
}

.btn-orange-va{
	width:150px;
	background-color: orange;
    color: white;
    border: none;
	margin-left: 150px;
	cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
	padding: 10px 15px;
	margin-top:20px;
	margin-bottom:20px;
}
.btn-orange-va:hover{
	background-color: darkorange;
}

#Datum_überschrift{
	font-size: 18px;
}

#Datum_eingeben{
	width: 225px;
	height: 18px;
}

.btn-red{
	background-color: red;
	color: white;
    border: none;
	cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
	padding: 5px;
}

.btn-red:hover{
	background-color: darkred;
	
}

#Datum_container{
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin-left: 150px; 
    margin-bottom: 50px;
}

#Service_überschrift{
    margin-left: 200px;
    font-size: 18px;
}


#Service_container{
    margin-left: 200px;
    font-size: 18px;
    margin-bottom: 30px;
}

.Normales_textfeld{
    height: 18px;
    width: 225px;
    margin-left: 10px;
    margin-right: 20px;
}

.Zeit_eingabe{
    height: 18px;
    margin-left: 10px;
    margin-right: 20px;
}

#Task_container{
    margin-left: 300px;
    font-size: 18px;
    margin-bottom: 20px;
}

#Task_überschrift{
    margin-left: 300px;
    font-size: 18px;
}

#Task_textbox{
    height: 18px;
    width: 225px;
    margin-left: 10px;
    margin-right: 20px;
}


#Service_button{
    background-color: orange;
    color: white;
    border: none;
	margin-left: 200px;
	cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
	padding: 10px 15px;
	margin-top:20px;
	margin-bottom:20px;
}

#Service_button:hover{
    background-color: darkorange;

}

#Task_button{
    background-color: orange;
    color: white;
    border: none;
	margin-left: 300px;
	cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
	padding: 10px 15px;
	margin-top:20px;
	margin-bottom:20px; 
}

#Task_button:hover{
	background-color: darkorange;
}

#Send_container{
    margin-left: 150px;
    margin-top: 20px;
}

.btn-green{
	width: 150px;
    margin-left: 150px;
    background-color: green;
    color: white;
    border: none;
	cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
	padding: 10px 15px;
	margin-top:20px;
	margin-bottom:20px;
}

.btn-green:hover{
    background-color: darkgreen;
    
}

#Veranstaltung_anlegen{
    text-align: left;
    margin-left: 150px;
    margin-top: 40px;
    font-size: 30px;
}

#Personen_eingabe{
    height: 18px;
    margin-left: 10px;
    margin-right: 20px;  
}

.toast {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 12px 20px;
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 9999;
}

.toast.show {
    opacity: 1;
    pointer-events: auto;
}

.toast.error {
    background-color: #d9534f; /* rot */
}

.toast.success {
    background-color: #5cb85c; /* grün */
}

#Worker_löschen{
    background-color: transparent;
    border: none;
    margin-top: 7px;
}

@media only screen and (max-width: 620px){/*style sheet für Handybildschirme */
    h1{
      font-size: 5vw;  
    }
    
     #Veranstaltung_dead,#Veranstaltung_live,#Veranstaltungen{
      font-size: 3vw;  
    }
    
    #Schichtverwaltung,#login{
        width: fit-content;
        margin: 0 auto;
        padding: 10px 15px;
        margin-top: 20px;
                
    }
    
    #eventName,#anmeldung{
        font-size: 6vw;
    }
	
	h2{
		font-size: 4vw;
	}
	
	h3{
		font-size: 4vw;
	}
    
    #Veranstaltungsname{
        font-size: 3vw;
    }
    
    td{
        width: 100px;
    }
	
	 #Veranstaltung_anlegen{
        margin-left: 20px;
        font-size: 5vw;
    }
    
    .Name_der_veranstaltung{
        margin-left: 20px;
        font-size: 4vw;
        
    }
    
    #eventName{
        height: 15px;
        width: 200px;
        font-size: 3vw;
        word-wrap: break-word;
        margin-right: 40px;
        margin-top: 10px;
    }
    
    .Anzeige_der_veranstaltung{
        margin-left: 20px;
        font-size: 4vw;
    }
    
    .Eintragen_erlauben{
        margin-left: 20px;
        font-size: 4vw;
    }
    
    .btn-orange-va{
        margin-left: 20px;
    }
    
    #Send_container{
        align-content: center;
        margin-left: 20px;
    }
    
    #Datum_container{
        margin-left: 20px;
    }
    
    #Datum_überschrift{
        font-size: 4vw;
    }
    
    #Datum_eingeben{
        width: 150px;
        height: 15px;
    }
    
    #Service_button{
        margin-left: 20px;
    }
    
    #Service_überschrift{
        margin-left: 20px;
        font-size: 4vw;
    }
    
    #Service_container{
        margin-left: 20px;
        font-size: 4vw;
    }
    
    .Normales_textfeld{
        font-size: 4vw;
        width:150px;
        margin-bottom: 10px;
        height: 15px;
        
    }
    
    .Zeit_überschrift{
        margin-bottom: 10px;
    }
    
    .Zeit_eingabe{
       margin-left: 0px;
       margin-bottom: 10px;
       height: 15px;
    }
    
    #Task_button{
        margin-left: 20px;
    }
    
    #Task_überschrift{
        margin-left: 20px;
        margin-bottom: 20px;
    }
    
    #Task_container{
        margin-left: 20px;
    }
    
    #Aufgabentextbox_überschrift{
        margin-top: 10px;
        font-size: 4vw;
    }
    
    #Personen_eingabe{
        font-size: 4vw;
        height: 15px;
        width: 100px;
        margin-bottom: 10px;
    }
    
    #Benötigte_personen_überschrift{
        font-size: 4vw;
    }
    
    #Task_textbox{
        width: 250px;
        margin-bottom: 10px;
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        height: 15px;
    }
    
    .btn-green{
        margin-left: 0px;
    }
}
}